/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
/*.mui-plus.mui-android header.mui-bar{
	display: none;
}
*/
/*.mui-plus.mui-android .mui-bar-nav~.mui-content{
	padding-top: 25px;
}*/
.mui-icon-addequiment:before{content:'\E747'}
.mui-icon-etc:before{content:'\E64D'}
.mui-icon-etc-blood:before{content:'\E748';color:#FF9900;}
.mui-icon-blood-etc:before{content:'\E748';color:#6BCDFD;}

/** 我的设备图片设置 */
.mui-media-equipment-object{
	line-height: 42px;
	 width: 130px; 
     height: 170px; 
}
.mui-titles{
	color:#209153;
}

.mui-media-equipment-cell{
	padding-top: 5px;
	padding-left: 10px;
}

.mui-tab-item-etc {
    display: table-cell;
    overflow: hidden;
    width: 10%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #929292;
}

.mui-etc-fontAndcolor{
	font-size: 14px;
	color: #FFFFFF;
}
