<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../css/mui.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
		<style>
			.mui-bar
			{
				position: relative;
			    height: 80px;
			    background-color: white;
			    margin-top: 10px;
			}
			.mui-bar-tab
			{
			    bottom: 0;
			    display: table;
			    width: 100%;
			    padding: 0;
			    table-layout: fixed;
			    border-top: 0;
			    border-bottom: 0;
			    -webkit-touch-callout: none;
			}
			.mui-icon{
				color: #209153;
				
			}
			.mui-bar-tab .mui-tab-item .mui-tab-item.mui-active
			{
			    color: #209153;
			}
			.mui-bar-tab .mui-tab-item.mui-active
			{
			    color: orange;
			}
			.mui-bar-tab .mui-tab-item .mui-icon ~ .mui-tab-label
			{
			    font-size: 11px;
			
			    display: block;
			    overflow: hidden;
				color:#555555;
				font-size: 13px;
				font-weight:bold;
			    text-overflow: ellipsis;
			}
			.mui-icon-advice:before
			{
			    content: '\e66e';
			}
			.mui-icon-heart:before
			{
			    content: '\e67b';
			}
			.mui-icon-level:before
			{
			    content: '\e635';
			}
			.mui-icon-blood:before
			{
			    content: '\e443';
			}
			.mui-table-view.mui-grid-view {
			    margin-top:10px;
			}
			.mui-grid-view.mui-grid-9 
			{
				
    			border-radius: 5px;
			}
			.mui-grid-view.mui-grid-9 .mui-table-view-cell {
				border-top: 1px solid #209153;
				border-left: 1px solid #209153;
			    border-right: 1px solid #209153;
			    border-bottom: 1px solid #209153;
			    border-radius: 5px;
			}
			.label-result{
				font-size:15px;
				color:#555555;
				font-weight:bold;
			}
		</style>
	</head>

	<body>
		<div id="pullrefresh" class="mui-content">
			<div id="slider" class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">
					<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../images/yuantiao.jpg">
						</a>
					</div>
					<!-- 第一张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="../images/shuijiao.jpg">
						</a>
					</div>
					<!-- 第二张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="../images/muwu.jpg">
						</a>
					</div>
					<!-- 第三张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="../images/cbd.jpg">
						</a>
					</div>
					<!-- 第四张 -->
					<div class="mui-slider-item">
						<a href="http://127.0.0.1:8020/example/slider-default.html#">
							<img src="../images/yuantiao.jpg">
						</a>
					</div>
					<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../images/shuijiao.jpg">
						</a>
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>
			<nav class="mui-bar mui-bar-tab">
				<a id="defaultTab" class="mui-tab-item mui-active " href="homeDetail.html">
					<span class="mui-icon mui-icon-advice" style="border-style: solid;border-width:2px;border-radius:5px;padding:5px;top:0;width: auto;height: auto;margin-top: 5px"></span>
					<span class="mui-tab-label">医生医嘱</span>
				</a>
				<a class="mui-tab-item" href="terminal.html">
					<span class="mui-icon mui-icon-chatboxes" style="border-style: solid;border-width:2px;border-radius:5px;padding:5px;top:0;width: auto;height: auto;margin-top: 5px"></span>
					<span class="mui-tab-label">最新咨询</span>
				</a>
				<a class="mui-tab-item" href="equipment.html">
					<span class="mui-icon mui-icon-heart" style="border-style: solid;border-width:2px;border-radius:5px;padding:5px;top:0;width: auto;height: auto;margin-top: 5px"></span>
					<span class="mui-tab-label">心电血压</span>
				</a>
				<a class="mui-tab-item" href="person.html">
					<span class="mui-icon mui-icon-level" style="border-style: solid;border-width:2px;border-radius:5px;padding:5px;top:0;width: auto;height: auto;margin-top: 5px"></span>
					<span class="mui-tab-label">血压等级</span>
				</a>
			</nav>
			<div  ng-app="homeDetail-App" id="homeDetail-App" ng-controller="homeDetail-Controller" >
				<ul class="mui-table-view mui-grid-view mui-grid-9" >
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6" style="padding-left:5%;text-align: left;">
						<p class="label-result">血压值:</p>
						<span class="mui-icon mui-icon-blood" style="font-size: 25px;color: blue;"></span>
						<label class="label-result" ng-if="healthDetail.shrink == ''">--/--</label>
						<label class="label-result" ng-if="healthDetail.shrink != ''">{{healthDetail.shrink}}/{{healthDetail.diastole}}</label>
						<label class="label-result"> mmH</label>
						<p class="label-result" ng-if="healthDetail.bloodTakeTime == ''">----/--/-- --:--:--</p>
						<p class="label-result" ng-if="healthDetail.bloodTakeTime != ''">{{healthDetail.bloodTakeTime}}</p>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6" style="padding-left:5%;text-align: left;">
						<p class="label-result">血压异常值:</p>
						<span class="mui-icon mui-icon-blood" style="font-size: 25px;color: orange;"></span>
						<label class="label-result" ng-if="healthDetail.shrinkAlert == ''">--/--</label>
						<label class="label-result" ng-if="healthDetail.shrinkAlert != ''">{{healthDetail.shrinkAlert}}/{{healthDetail.diastoleAlert}}</label>
						<label class="label-result"> mmH</label>
						<p class="label-result" ng-if="healthDetail.bloodTakeTimeAlert == ''">----/--/-- --:--:--</p>
						<p class="label-result" ng-if="healthDetail.bloodTakeTimeAlert != ''">{{healthDetail.bloodTakeTimeAlert}}</p>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6" style="padding-left:5%;text-align: left;">
						<p class="label-result">心率/脉率值:</p>
						<span class="mui-icon mui-icon-blood" style="font-size: 25px;color: red;"></span>
						<label class="label-result" ng-if="healthDetail.heartRate == ''">--</label>
						<label class="label-result" ng-if="healthDetail.heartRate != ''">{{healthDetail.heartRate}}</label>
						<label class="label-result"> bpm</label>
						<p class="label-result" ng-if="healthDetail.heartTakeTime == ''">----/--/-- --:--:--</p>
						<p class="label-result" ng-if="healthDetail.heartTakeTime != ''">{{healthDetail.heartTakeTime}}</p>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6" style="padding-left:5%;text-align: left;">
						<p class="label-result">心率异常值:</p>
						<span class="mui-icon mui-icon-blood" style="font-size: 25px;color: darkmagenta;"></span>
						<label class="label-result" ng-if="healthDetail.heartRateAlert == ''">--</label>
						<label class="label-result" ng-if="healthDetail.heartRateAlert != ''">{{healthDetail.heartRateAlert}}</label>
						<label class="label-result"> bpm</label>
						<p class="label-result" ng-if="healthDetail.heartTakeTimeAlert == ''">----/--/-- --:--:--</p>
						<p class="label-result" ng-if="healthDetail.heartTakeTimeAlert != ''">{{healthDetail.heartTakeTimeAlert}}</p>					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6" style="padding-left:5%;text-align: left;">
						<p class="label-result">血氧值:</p>
						<span class="mui-icon mui-icon-blood" style="font-size: 25px;color: pink;"></span>
						<label class="label-result">--</label><label class="label-result"> %</label>
						<p class="label-result">----/--/-- --:--:--</p>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6" style="padding-left:5%;text-align: left;">
						<p class="label-result">SOS异常记录:</p>
						<span class="mui-icon mui-icon-blood" style="font-size: 25px;color: brown;"></span>
						<label class="label-result">--</label><label class="label-result"> </label>
						<p class="label-result">----/--/-- --:--:--</p>
					</li>
				</ul>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/views/app.js"></script>
		<script src="../js/angular/angular.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				// 下拉刷新
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						callback: pulldownRefresh
					},
				}//启用右滑关闭功能
			});
			// 下拉刷新
			function pulldownRefresh() {
				location.reload();
				mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
				
			}
			
			
			var Testapp = angular.module("homeDetail-App", []);
			// 绑定controller,这里在div中定义的controller是equipment-Controller
			Testapp.controller("homeDetail-Controller", function($scope, $http) {
				// 初期化处理
				var init = function() {};
				// 将参数从json转成object
				var transform = function(data) {
					return mui.param(data);
				}
				
				//当前patientid
				$scope.param = {};
				$scope.param.pid = localStorage.getItem('patientID');
				// 登录处理
				$scope.getHealthStatus = function(plus) {
					plus.nativeUI.showWaiting("正在加载");
					console.log("scope.getequipment start");
					// 调取后台API
					$http.post(API_ADDRESS + 'healthStatus/QueryHealthStatus.do',
						$scope.param, 
						{
	        				headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'},
	        				transformRequest: transform
	    				}
					).success(function(data) {
						// 处理成功的场合
						console.log("angularjs数据取得成功！");
						//服务器返回响应，根据响应结果，分析是否登录成功；
						$scope.healthDetail = {};
						$scope.healthDetail = data.result;
						console.log($scope.healthDetail.shrink);
						plus.nativeUI.closeWaiting();
					}).error(function(err) {
						plus.nativeUI.closeWaiting();
						mui.alert('数据服务器链接失败', '错误', function() {});
						// 处理异常的场合
						console.log("scope.getequipment error");
					});
				}
				init();
			});
			
			mui.plusReady(function() {
				//通过DOM操作获取app对象
				var element = angular.element(document.getElementById("homeDetail-App"));
				//得到app对象，可以获取app的controller
				var controller = element.controller();
				//得到app对象，可以获取app的$scope
				var scope = element.scope();
				console.log("getHealthStatus");
				// 调用angularjs方法，初期化显示
				scope.getHealthStatus(plus);
				
				
				var options = {
					cover: false
				};
				console.log("if条件外" + localStorage.getItem("runFirst"));
				if (plus.os.name == "iOS" && localStorage.getItem("runFirst") != "Yes") {
					console.log("112312312");
					console.log("第一次启动" + localStorage.getItem("runFirst"));
					console.log(plus.push.getClientInfo().token);
					tokenUpload(plus.push.getClientInfo().token);
				}
				// 监听点击消息事件 
				plus.push.addEventListener("click", function(msg) {
					var obj = msg.payload;
					info(obj.name, obj.time);
				}, false);
				// 监听在线消息事件
				plus.push.addEventListener("receive", function(msg) {
					//ios时弹出对话框，切到通知详情页面
					if (plus.os.name == "iOS") {
						var obj = msg.payload;
						var btnArray = ['否', '是'];
						mui.confirm('是否立即查看？', '你有一条最新的检查结果的通知！', btnArray, function(e) {
							if (e.index == 1) {
								//执行info函数跳转通知详情页面
								info(obj.name, obj.time);
							} else {
								//保持当前页面
							}
						})
					} else {
						//安卓机器解析payload信息进入通知详情页面
						//alert("receive " + msg.payload.toString());
						var xinxi = msg.payload.toString().split(",");
						//名字+逗号+时间
						info(xinxi[0], xinxi[1]);
					}
				}, false);
				var backButtonPress = 0;
				console.log(backButtonPress);
				mui.back = function(event) {
					console.log(backButtonPress);
					backButtonPress++;
					if (backButtonPress > 1) {
						plus.runtime.quit();
					} else {
						plus.nativeUI.toast('再按一次退出应用');
					}
					setTimeout(function() {
						backButtonPress = 0;
					}, 1000);
					return false;
				};
			});
		</script>
	</body>

</html>